depends: [
  "coq" {= "8.20.0"}
  "coq-stdpp" {= "dev.2025-06-05.0.567f831e"}
  "coq-iris" {= "dev.2025-07-02.1.019c1f06"}
  "coq-diaframe" {= "dev.2025-07-09.0.8721cef5"}
]

build: [
  make "-j%{jobs}%" "build-zoo"
]
install: [
  make "install-zoo"
]
