depends: [
  "coq" {= "8.20.0"}
  "coq-stdpp" {= "dev.2025-07-17.0.62f52d4f"}
  "coq-iris" {= "dev.2025-07-17.0.dbc3e879"}
  "coq-diaframe" {= "dev.2025-11-12.0.0a1ecfe1"}
]

build: [
  make "-j%{jobs}%" "build-zoo"
]
install: [
  make "install-zoo"
]
